.row
  .span16.columns
    - unless flash.empty?
      .alert-message.error
        = display_flash
    .alert-message.news
      %p
        = link_to '<span class="label success">SUPPORT THIS CONCERT SERIES</span>'.html_safe, donate_path
        Make a general donation to Concerts in the Clearing today. Keep the quality music coming.
        = link_to 'Click here.', donate_path
      - if todays_date :is_between => '2011-02-01', :and => '2011-10-15'
        / some time-sensitive news
.row
  .span4.columns
    .home-concert
      %h2 Saturday, October 27, 2012<br />7:00pm
      .tickets
        - if todays_date :is_between => '2012-09-01', :and => '2012-10-27'
          = link_to '<span class="label success">RESERVE TICKETS</span>'.html_safe, show_ticket_form_path(:ident_string => 'concert1')
        - else
          = link_to '<span class="label success">CHECK OUT OUR OTHER CONCERTS</span>'.html_safe, root_path
      %h3 young artists
      %h1 Rising Stars
      %p Some call these young people child prodigies. We call them rising stars.
      %p Come be awed by their gifts and early achievements, and inspired by their compelling musicianship.
      = image_tag 'concert1-graphic-home-page-white.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Sunday, November 18, 2012<br />7:00pm
      .tickets
        - if todays_date :is_between => '2012-09-01', :and => '2012-11-18'
          = link_to '<span class="label success">RESERVE TICKETS</span>'.html_safe, show_ticket_form_path(:ident_string => 'concert2')
        - else
          = link_to '<span class="label success">CHECK OUT OUR OTHER CONCERTS</span>'.html_safe, root_path
      %h3 jazz vocals
      %h1 UNT Jazz Singers
      %p Twelve superb singers, a four-piece rhythm section, and director and well known vocalist Jennifer Barnes come together for an exciting and stimulating program.
      = image_tag 'concert2-graphic-home-page-white.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Sunday, February 24, 2013<br />7:00pm
      .tickets
        - if todays_date :is_between => '2012-09-01', :and => '2013-02-24'
          = link_to '<span class="label success">RESERVE TICKETS</span>'.html_safe, show_ticket_form_path(:ident_string => 'concert3')
        - else
          = link_to '<span class="label success">CHECK OUT OUR OTHER CONCERTS</span>'.html_safe, root_path
      %h3 choir and orchestra
      %h1 Masterworks
      %p A program which will be both joyful and exuberant, calm and serene.
      %p Morten Lauridsen’s “Lux Aeterna” for choir and orchestra will be featured, as will “Exsultate Jubilate,” Mozart’s cantata for soprano and orchestra.
      = image_tag 'concert3-graphic-home-page-white.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Sunday, April 21, 2013<br />7:00pm
      .tickets
        - if todays_date :is_between => '2012-09-01', :and => '2013-04-21'
          = link_to '<span class="label success">RESERVE TICKETS</span>'.html_safe, show_ticket_form_path(:ident_string => 'concert4')
        - else
          = link_to '<span class="label success">CHECK OUT OUR OTHER CONCERTS</span>'.html_safe, root_path
      %h3 world music
      %h1 Meadows World Music Ensemble
      %p This ensemble explores and performs music from cultures and continents around the world.
      %p Get ready for hot drumming and imaginative improvisation!
      = image_tag 'concert4-graphic-home-page-white.jpg', :class => 'artist-graphic'
