- if Date.today > Date.new(2011, 10, 14) && Date.today < Date.new(2011, 10, 16)
  .row
    .span16.columns
      - unless flash.empty?
        .alert-message.error
          = display_flash
      .alert-message.news
        %p
          %span.label.success TICKETS STILL AVAILABLE
          Tickets are still available for Peter Mayer <strong>tonight</strong>. Reserve your tickets below, or come
          to the tickets table tonight by 7:45pm.
.row
  .span4.columns
    .home-concert.current
      %h2 Saturday, October 15, 2011<br />8:00pm
      %h3 singer/songwriter
      %h1 Peter Mayer
      .tickets
        - if Date.today > Date.new(2011, 9, 15) && Date.today < Date.new(2011, 10, 16)
          = link_to '<span class="label success">RESERVE TICKETS</span>'.html_safe, show_ticket_form_path(:ident_string => 'mayer_2011')
        - else
          WATCH FOR UPCOMING SHOWS
      %p "Peter does nothing less than address the very nature of our existence." &mdash;Dale Connelly, Minnesota Public Radio
      %p "If I rocked half as hard as Peter does, I'd own the world by now." &mdash;Janis Ian
      = image_tag 'mayer-graphic-home-page.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Sunday, November 13, 2011<br />7:00pm
      %h3 choir and orchestra
      %h1 Masterworks
      .tickets
        <span class="label success">TICKETS AVAILABLE OCTOBER 13</span>
      %p The evening opens with Beethoven's joyful String Quartet, Opus 18, No. 2.
      %p Then, the mood shifts to peace and rememberance, as choir and orchestra perform Maurice Durufl&eacute;'s lush, Romantic <i>Requiem</i>, a 20th century masterpiece.
      = image_tag 'masterworks-graphic-home-page-white.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Saturday, March 3, 2012<br />8:00pm
      %h3 flute, marimba, and more
      %h1 Helen Blackburn
      .tickets
        <span class="label success">TICKETS AVAILABLE FEBRUARY 3</span>
      %p An eclectic, exciting performance by flute virtuoso Helen Blackburn, her husband, marimbist Drew Lang, and perhaps some other great musical surprises.
      %p You'll just have to come and see.
      = image_tag 'helen-graphic-home-page-white.jpg', :class => 'artist-graphic'
  .span4.columns
    .home-concert
      %h2 Saturday, April 14, 2012<br />8:00pm
      %h3 big band and percussion
      %h1 UNT Latin Jazz
      .tickets
        <span class="label success">TICKETS AVAILABLE MARCH 14</span>
      %p End the season with exciting music from south of the border with University of North Texas' Latin Jazz Ensemble.
      %p A "mini big band" with an exciting, expanded percussion section, this group will have the whole family salsa dancing.
      = image_tag 'latin-graphic-home-page-white.jpg', :class => 'artist-graphic'
