<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @concert.name %>
</p>

<p>
  <b>Data and time:</b>
  <%= @concert.data_and_time %>
</p>

<p>
  <b>Id string:</b>
  <%= @concert.id_string %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
