<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @concert.name %>
</p>

<p>
  <b>Data and time:</b>
  <%= @concert.date_and_time %>
</p>

<p>
  <b>Ident string:</b>
  <%= @concert.ident_string %>
</p>

<p>
  <b>Suggested ticket donation:</b>
  <%= @concert.suggested_ticket_donation %>
</p>


<%= link_to 'Edit', edit_admin_concert_path(@concert) %> |
<%= link_to 'Back', admin_concerts_path %>
