%section#home
  .page-header
    %h1 Administration dashboard
  .row
    .span16.columns
      %h2 Reservations by concert
      - for concert in Concert.order(:date_and_time).all
        %p= link_to "#{concert.name}, #{pretty_date(concert.date_and_time)}", admin_reservations_report_path(concert.id)
      %h2 Will call list by concert
      - for concert in Concert.order(:date_and_time).all
        %p= link_to "#{concert.name}, #{pretty_date(concert.date_and_time)}", admin_will_call_list_path(concert.id)
      %h2 Enter walk-up patrons
      - for concert in Concert.order(:date_and_time).all
        %p= link_to "#{concert.name}, #{pretty_date(concert.date_and_time)}", admin_enter_walkups_path(concert.id)
      %h2 Memorials report
      - for concert in Concert.where(:ident_string => 'concert3').order(:date_and_time).all
        %p= link_to "#{concert.name}, #{pretty_date(concert.date_and_time)}", admin_memorials_report_path(concert.id)
      %h2 Other
      %p= link_to 'Export mailing list', admin_create_patron_csv_path
      %p= link_to 'Sustaining donations', admin_sustaining_donations_path
