%p
  %strong
    = @reservation.number_of_tickets
  tickets have been reserved for you for to see
  %strong
    = @reservation.concert.name
  at
  %strong
    = pretty_date_time(@reservation.concert.date_and_time) + '.'
  You will receive an email shortly (from info@concertsintheclearing.org) with a link to get your tickets, and additional instructions.

- unless @reservation.in_memory_of.blank?
  %h2 In memory of...
  %p
    We will print in the program your remembrance of
    %strong
      = @reservation.in_memory_of
    (by&nbsp;
    %strong><
      = @reservation.in_memory_by
    ).
  %p
    If this information is not correct, please
    = (mail_to 'info@concertsintheclearing.org', 'email us') + ','
    or contact First Unitarian Church at 214.528.3990.

%h2 Venue
%address
  4015 Normandy Ave<br />
  Dallas TX 75205
%p We are located at the First Unitarian Church of Dallas, about a block north of Mockingbird on Preston Rd, immediately south of the Park Cities YMCA.
