.row
  .span10.offset3
    - unless flash.empty?
      .alert-message.error
        = display_flash
    %h1 Almost done - confirm your donation below
    = render 'tickets_have_been_reserved'
    %h1 Confirm donation
    %table
      %tr
        %td Credit card type
        %td= @donation.credit_card_type
      %tr
        %td Credit card number
        %td= @donation.credit_card_number
      %tr
        %td Credit card expiration
        %td= "#{@donation.credit_card_expiration_month}/#{@donation.credit_card_expiration_year}"
      %tr
        %td Credit card verification
        %td= @donation.credit_card_verification
      %tr
        %td Name on card
        %td= "#{@donation.credit_card_first_name} #{@donation.credit_card_last_name}"
      %tr
        %td Amount
        %td= @donation.amount
    = form_tag process_donation_path do
      = hidden_field_tag :patron_id, @patron.id
      = hidden_field_tag :concert_id, @concert.id
      = hidden_field_tag :credit_card_type, @donation.credit_card_type
      = hidden_field_tag :credit_card_number, @donation.credit_card_number
      = hidden_field_tag :credit_card_expiration_month, @donation.credit_card_expiration_month
      = hidden_field_tag :credit_card_expiration_year, @donation.credit_card_expiration_year
      = hidden_field_tag :credit_card_verification, @donation.credit_card_verification
      = hidden_field_tag :credit_card_first_name, @donation.credit_card_first_name
      = hidden_field_tag :credit_card_last_name, @donation.credit_card_last_name
      = hidden_field_tag :amount, @donation.amount
      .actions
        = submit_tag 'Process donation', :class => 'btn primary'
        = link_to 'Cancel', root_path, :class => 'btn'
