- @patron        ||= Patron.new
- @donation      ||= Donation.new
- @make_donation ||= true
.row
  .span10.offset3
    - unless flash.empty?
      .alert-message.error
        = display_flash
    %h1= @concert.name
    %h2= pretty_date_time(@concert.date_and_time)
    = form_tag reserve_tickets_path do
      = hidden_field_tag :concert_id, @concert.id
      %fieldset
        %legend Ticket reservation
        %p Tickets are free, and we welcome donations if you are able.
        %p
          (Need more than
          = configurator :ticket_limit_per_person
          tickets? Please
          = mail_to configurator(:contact_email), 'contact us'
          for availability and special arrangements.)
        %p All fields are required.
        %p We will not use or disclose your email address for any purpose other than the concert series.
        = app_text_field_tag :first_name, nil, 3, @patron.first_name
        = app_text_field_tag :last_name, nil, 3, @patron.last_name
        = app_text_field_tag :email, nil, 6, (@patron.errors.on(:email) ? nil : @patron.email)
        = app_text_field_tag :email_confirmation, 'Re-type email', 6, (@patron.errors.on(:email) ? nil : @patron.email)
        = label_tag :number_of_tickets, 'Number of tickets'
        .input
          - for num in 1..(configurator :ticket_limit_per_person)
            %span{:style => 'display:inline-block; width:3.0em'}
              = radio_button_tag :number_of_tickets, num, num == @number_of_tickets
              = num.to_s
        .alert-message.news{:style => 'margin-top:1.0em'}
          %div{:style => 'font-size:1.2em'}
            = radio_button_tag :make_donation, true, true
            Yes, I would like to make a donation to support great music in Dallas.
          %div
            = radio_button_tag :make_donation, false
            No, not at this time.
          #donation
            %legend Donation information
            .clearfix
            = label_tag :credit_card_type
            .input
              = select_tag :credit_card_type, options_for_select([[], ["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"]], @donation.credit_card_type), :class => 'span3'
            = app_text_field_tag :credit_card_number, nil, 3, @donation.credit_card_number
            = label_tag :credit_card_expiration_year, 'Card expiration'
            .input
              = select_tag :credit_card_expiration_month, options_for_card_expiration_month(@donation.credit_card_expiration_month), :class => 'span3'
              = select_tag :credit_card_expiration_year, options_for_card_expiration_year(@donation.credit_card_expiration_year), :class => 'span2'
            = app_text_field_tag :credit_card_verification, 'Card verification value (CVV)', 1, @donation.credit_card_verification
            = label_tag :credit_card_first_name, 'Name on card (first, last)'
            .input
              = text_field_tag :credit_card_first_name, @donation.credit_card_first_name, :class => "span3"
              = text_field_tag :credit_card_last_name, @donation.credit_card_last_name, :class => "span3"
            .clearfix
            %div{:style => 'text-align:center'}
              %p
                %strong#suggested-donation
                  (suggested donation is
                  = "$#{@concert.suggested_ticket_donation}"
                  per ticket)
            .clearfix
            = app_text_field_tag :amount, nil, 2, @donation.amount
        .actions
          = submit_tag 'Request tickets', :class => 'btn primary'

:javascript
  $(document).ready(function(){

    // Donation form; show/hide.

    $('#make_donation').show();

    $('input#make_donation_true').click(function(){
      $('div#donation').show('slow');
    })

    $('input#make_donation_false').click(function(){
      $('div#donation').hide('slow');
    })
    
    // Fill in names on donation form, as appropriate
    
    $('input[name=first_name]').blur(function(){
      if ($('input[name=credit_card_first_name]').val() == '') {
        $('input[name=credit_card_first_name]').val($(this).val());
      }
    })
    $('input[name=last_name]').blur(function(){
      if ($('input[name=credit_card_last_name]').val() == '') {
        $('input[name=credit_card_last_name]').val($(this).val());
      }
    })
    
    // Display the extended suggested donation when the page is loaded, and
    // when a number of tickets is selected.
    
    show_extended_suggested_donation();
    
    $('input[id^=number_of_tickets]').click(function(){
      show_extended_suggested_donation();
    })
    
    // Format the amount field as currency
    
    $('input[name=amount]').blur(function(){
      $(this).val(to_dollar_amount($(this).val()));
    })

  })
  
  function show_extended_suggested_donation() {
    var numTickets = $('input[name=number_of_tickets]:checked').val();
    if (numTickets == undefined) { return; }
    var suggestedTicketDonation = #{@concert.suggested_ticket_donation};
    if (numTickets == 1) {
      $('strong#suggested-donation').text('(suggested donation is $' + suggestedTicketDonation + ' per ticket)');
    } else {
      var suggestedDonation = numTickets * suggestedTicketDonation;
      $('strong#suggested-donation').text('(suggested donation is $' + suggestedTicketDonation + ' per ticket, $' + suggestedDonation + ' for your ' + numTickets + ' tickets)');
    }
  }