%h1 Reservations
- total_tickets = 0
- total_donations = BigDecimal.new('0')
%h2= @concert.name
%table
  %thead
    %tr
      %th Patron
      %th{:style => 'text-align:right'} Tickets
      %th{:style => 'text-align:right'} Donation
      %th Email
      - if @concert.ident_string == 'memorial_2011'
        %th{:style => 'text-align:right'} Memorial
  %tbody
  - for reservation in @concert.reservations.includes(:patron).order('patrons.last_name, patrons.first_name')
    - patron = reservation.patron
    - donation = reservation.donation
    - total_tickets += reservation.number_of_tickets if reservation.number_of_tickets
    - total_donations += donation.amount if donation
    %tr
      %td= "#{patron.first_name} #{patron.last_name}"
      %td{:style => 'text-align:right'}= reservation.number_of_tickets
      %td{:style => 'text-align:right'}= donation ? donation.amount.to_dollar_amount : ''
      %td= patron.email
      - if @concert.ident_string == 'memorial_2011'
        %td{:style => 'text-align:right'}
          - unless reservation.in_memory_of.blank?
            = reservation.in_memory_of
            %br
            by 
            = reservation.in_memory_by
  %tr
    %td
      %h1 Totals
    %td{:style => 'text-align:right'}
      %h1= total_tickets
    %td{:style => 'text-align:right'}
      %h1= total_donations.to_dollar_amount
    %td
