%head
  <title>Concerts in the Clearing</title>
  = stylesheet_link_tag 'app.css', :type => 'text/css', :media => 'screen, print'
  = javascript_include_tag 'application.js'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
  = javascript_include_tag 'rails.js'
  = csrf_meta_tag
