%head
  <title>Concerts in the Clearing</title>
  = stylesheet_link_tag :all
  = stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"
  = stylesheet_link_tag 'app.less', :type => 'text/css', :rel => 'stylesheet/less'
  = javascript_include_tag 'less-1.1.3.min'
  = javascript_include_tag :defaults
  = csrf_meta_tag
